<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2022 Anna Gillespie. </p>
              <p>We are part of the departments of <a href="https://sites.uw.edu/biostr/">Biological Structure</a> and <a href="https://dlmp.uw.edu/">Lab Medicine & Pathology</a> at the <a href="https://www.washington.edu/">University of Washington</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - NIH BRAIN Initiative R00 <br />
		  - <a href="https://www.simonsfoundation.org/funded-project/linking-molecules-circuits-and-behavior-to-promote-plasticity-and-memory-in-the-aging-brain/">Simons Collaboration on Plasticity and the Aging Brain</a>
		</div>
		<div class="col-sm-4">
		  Health Sciences Building, F-506<br />
		  1959 NE Pacific St.<br />
		  Seattle, WA 98195-7420<br />
            (<a href="https://www.google.com/maps/place/University+of+Washington+Medical+Center,+1959+NE+Pacific+St,+Seattle,+WA+98195/@47.6509026,-122.3190205,15z/data=!4m5!3m4!1s0x549014eb952359b5:0xf237b0c3a4eeb006!8m2!3d47.6498743!4d-122.3082267">Map</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
